<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="./logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TenerifeFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/tenerife-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/tenerife-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="GranCanariaFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/grancanaria-api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/grancanaria-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="TenerifeLogger" level="INFO" additivity="false">
        <appender-ref ref="TenerifeFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="GranCanariaLogger" level="INFO" additivity="false">
        <appender-ref ref="GranCanariaFile" />
        <appender-ref ref="Console" />
    </logger>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
</configuration>